body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    
    margin: 25px;
    color: #747474;
    background-color: #9d78d9;
    
}

.compliments-fortune{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 50px;
    
    
}

#fname-lname-form{
    background-color: #ffffff;
    border: 1px solid #d0cccc;
    border-radius: 5px;
    box-shadow: 0px 5px 12px -6px rgba(0,0,0,0.4);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 50px;;
}

.change-username{
    background-color: #ffffff;
    border: 1px solid #d0cccc;
    border-radius: 10px;
    box-shadow: 0px 5px 12px -6px rgba(0,0,0,0.4);
    
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 50px;;
    
}

.delete-user{
    background-color: #ffffff;
    border: 1px solid #d0cccc;
    border-radius: 10px;
    box-shadow: 0px 5px 12px -6px rgba(0,0,0,0.4);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 50px;;
}


.signupBtn,.deleteBtn{
    color: #ffffff;
    border: NONE;
    border-radius: 30px;
    box-shadow: 0 0 0 0 rgba(143, 64, 248, 0.5), 0 0 0 0 rgba(39, 200, 255, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-image: linear-gradient(225deg, #4da6d6 0%, #3d6fdc 50%, #8b43d8);
    box-shadow: 0px 5px 12px -6px rgba(0,0,0,0.4);
}

.signupBtn::after, .signupBtn::before, .deleteBtn::after, .deleteBtn::before, #complimentButton::after, #complimentButton::before, #fortuneButton::after, #fortuneButton::before{
    content: "";
    position: absolute;
    opacity: 0.070;
    background: #000;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;

}

.signupBtn:hover, .deleteBtn:hover,#complimentButton:hover, #fortuneButton:hover {
    transform: translate(-5px, -5px)
}

.signupBtn:hover::after, .deleteBtn:hover::after,#complimentButton:hover::after,#fortuneButton:hover::after {
    transform: translate(2px, 2px);
}

.signupBtn:hover::before, .deleteBtn:hover::before,#complimentButton:hover::before,#fortuneButton:hover::before {
    transform: translate(5px, 5px);
}

.changeBtn{
    color: rgb(84, 84, 84);
    border: 0;
    font-size: large
}

.changeBtn::after, .changeBtn::before {
    border: 3px solid #3d6fdc;
    content: "";
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    left: 0;
    bottom: 0;
    z-index: 2;
    transition: transform 0.3s ease;
}

.changeBtn:hover::after {
    
    transform: translate(-5px, -5px);
    
}

.changeBtn:hover::before {
    
    transform: translate(5px, 5px);
    
}


.compliments-fortune {
  height: 100%;
  display: flex;    align-items: center;
  justify-content: center;
}

button{
    text-decoration: none;
    padding: 10px 30px;
    font-size: 1.25rem;
    position: relative;
    margin: 50px;
    
    
}

#complimentButton, #fortuneButton{
    
    color: #ffffff;
    border: NONE;
    border-radius: 30px;
    box-shadow: 0 0 0 0 rgba(143, 64, 248, 0.5), 0 0 0 0 rgba(39, 200, 255, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-image: linear-gradient(225deg, #4da6d6 0%, #3d6fdc 50%, #8b43d8);
    box-shadow: 0px 5px 12px -6px rgba(0,0,0,0.4);
}





